################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################
/Bulkins/obj/**
/Bulkins/bin/**
*.suo
/Bulkins/packages/**
/Bulkins.Tests/obj/**
/Bulkins.Tests/bin/**
/Bulkins.Tests/ConnectionString.txt
